
<div class="product-details">
    <h4>Descrição do produto</h4>
    <ul>
        <li>
            O <strong>Micro-ondas Panasonic NN-ST25L Dia a Dia</strong> possui tecnologia Antibacteria AG que inibe 99,9% da proliferação das bactérias, pois tem em seu interior o novo revestimento com camada de tinta com sistema antimicrobiano. O ST25L é 4 vezes mais fácil de limpar quando o comparamos com os modelos convencionais, por conta do revestimento antiaderente. Sabe quando você vai aquecer algo em uma xícara e, quando o micro-ondas para, ela está no fundo do aparelho, com a asa virada para trás? É um dos problemas que a tecnologia Pega Fácil resolve para você! Assim que o aquecimento termina, o prato faz uma rotação para que você pegue o utensílio exatamente onde o deixou. Agora a linha está ainda mais moderna e sofisticada e com um novo painel!
        </li>
    </ul>
    <h4>Características do produto</h4>
    <ul>
        <li><span class="name">Marca</span><span class="value">Panasonic</span></li>
        <li><span class="name">Modelo</span><span class="value">NN-ST25L</span></li>
        <li><span class="name">Cor</span><span class="value">Branco/Espelhado</span></li>
        <li><span class="name">Potência</span><span class="value">700W</span></li>
        <li><span class="name">Níveis de Potência</span><span class="value">10</span></li>
        <li><span class="name">Painel</span><span class="value">Digital</span></li>
        <li><span class="name">Capacidade</span><span class="value">21 Litros</span></li>
        <li>
            <span class="name">Principais Características</span>
            <span class="value">
                5 Receitas Programadas<br/>
                Autodescongelamento<br/>
                Desodorizador<br/>
                Função Pega Fácil<br/>
                Antibacteria AG
            </span>
        </li>
        <li><span class="name">Classificação Energética</span><span class="value">A</span></li>
        <li><span class="name">Voltagem</span><span class="value">110V ou 220V (não é bivolt)</span></li>
        <li><span class="name">Garantia do fornecedor</span><span class="value">12 Meses</span></li>
        <li>
            <span class="name">Itens inclusos</span>
            <span class="value">
                01 Micro-ondas Panasonic NN-ST25L Dia a Dia - Branco/Espelhado<br/>
                Manual de instruções
            </span>
        </li>
    </ul>
    <h4>Dimensões do produto</h4>
    <ul>
        <li><span class="name">Altura</span><span class="value">26 cm</span></li>
        <li><span class="name">Largura</span><span class="value">44,2 cm</span></li>
        <li><span class="name">Profundidade</span><span class="value">36,6 cm</span></li>
        <li><span class="name">Peso aprox.</span><span class="value">10,4 Kg</span></li>
    </ul>
</div>
