
<article class="card">

    {% if product.cover %}
    <div class="card-cover-wrapper">
        <a href="{{product.get_absolute_url}}" class="card-cover-link">
            <img class="card-cover" loading="lazy"
            src="{{product.cover}}"
            alt="Foto {{product.title}}">
        </a>
    </div>
    {% endif %} 
   

    <div class="card-text-wrapper">
        <div class="card-title-wrapper">
            <h2 class="card-title">
                <a href="{{product.get_absolute_url}}" class="card-title-link">
                    {{product.title}}
                </a>
            </h2>
            
            <p class="card-subtitle">
                {{product.excerpt}} 
            </p>
        </div>    

                          
        <div class="card-price-content">
            <div class="card-price-wrapper">
                De:<br>
                <s>R$ {{product.get_old_price}}</s><br>
                <hr>
                Por:<br>
                á vista<br>
                <b><sup>R$</sup> {{product.get_new_price}}</b>
            </div>
            
            
            <div class="card-installment-wrapper">
                <span>ou no cartão em 12x:<br></span>
                <b class="inst"><sub>R$ </sub>{{product.installment_price.0}}<sup>,{{product.installment_price.1}}</sup></b><br>
                <span>Total <b>R$ {{product.fees}}</b> com juros.</span>
            </div>
            
        </div>
        <div class="offer-validity">Validade da oferta: {{product.offer_validity}}</div>
        
        
        <div class="card-actions">
            <!-- SERA O LINK DO WHATSAPP-->
            <a class="card-action-link" href="{{whatsapp}}{{product.text_link}}" target="_blank">
                <i class="fa-brands fa-whatsapp"></i>
                <span><b>Compre Agora!</b></span>
                
            </a>
        </div>  
        
    </div>
</article>
